ol li{
    background-color: yellow;
}

ol li.ol-par{
    color: green;
}

ol li.ol-impar{
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6{
    color: red;
}

h1 em{
    font-size: 40px;
    border: 1px solid black;
}

li{
    font-size: 20px;
}

li em{
    font-weight: bold;
}
li.top3{
    color: blue;
}

li.if-java{
    background-color: pink;
}

li a:hover{
    font-weight: bold;
}

li a.laranja:hover{
    color: orange;
}

li a.verde:hover{
    color: green;
}

li a.amarela:hover{
    color: yellow;
}

li a.preta:hover{
    color: black;
}