.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 50px;
    z-index: 4;
  }
  
  .baloon {
    position: absolute;
    left: 200px;
    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 220px;
    z-index: 5;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 200px;
    z-index: 1;
    }